* {color: White;
	text-align: center;
	background-color: Teal;
	font-family: Monaco, Helvetica, "Sans-serif";
	font-weight: bold;
}

body {border-style: groove;
}

ul, li {text-align: left;
}




