* {color: White;
	text-align: center;
	background-color: Teal;
	font-family: Monaco, Helvetica, "Sans-serif";
	font-weight: bold;
}

body {border-style: groove;
	max-width: 800px;
	padding-top: 10px;
	margin: auto;
}

ul, li {text-align: left;
}




